@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

  }
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    
  }

  body {
    font-size: 16px; /* This sets the base font size to 16 pixels */
  }
  
  h1 {
    font-size: 2rem; /* This sets the font size to 2 times the base font size */
  }
  
  p {
    font-size: 1.2rem; /* This sets the font size to 1.2 times the base font size */
  }
  
  body {
    
  background-image: url('bwbackground.jpeg');
  background-size: cover;
  background-position: center;

  }

.bio {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

#bio {
    flex: 1;
    padding: 30px;
   
        background-image: url('backgprofile.jpg');
        background-size: cover; /* Optional, adjusts the size of the background image */
        font-size: 1.7rem;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;

      
}

.title {
    display: flex;
    justify-content: center;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}



.profile-img {
    width: 150px; /* adjust the size of the image as needed */
    height: 150px;
    border-radius: 50%;
    border: 2px solid #fff; /* optional: add a white border */
    
  }
  
#title {
    font-size: 2rem; /* This sets the font size to 2 times the base font size */
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}